<h2>Lista de Produtos</h2>

@if (loading) {
  <p>Carregando produtos...</p>
} @else if (error) {
  <p class="error">Ocorreu um erro: {{ error }}</p>
} @else if (produtos) {
  <table class="lista-produtos">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th class="acoes"></th>
        </tr>
    </thead>
    <tbody>
      @for (produto of produtos; track produto.id) {
        <tr [attr.produto-id]="produto.id">
          <td>
            @if (editandoId === produto.id) {
              <input type="text" [(ngModel)]="produto.nome" (ngModelChange)="onInputNovo(produto)">
            } @else {
              {{ produto.nome }}
            }
          </td>
      
          <td>
            @if (editandoId === produto.id) {
              <input type="number" [(ngModel)]="produto.preco" (ngModelChange)="onInputNovo(produto)">
            } @else {
              {{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}
            }
          </td>
      
          <td>
            @if (editandoId === produto.id) {
              <input type="number" [(ngModel)]="produto.estoque" (ngModelChange)="onInputNovo(produto)">
            } @else {
              {{ produto.estoque }}
            }
          </td>

          <td class="acoes"> 
              @if (editandoId === produto.id) {
                <button class="btn-editar" (click)="onEditar(produto)">Confirmar</button>
                <button class="btn-cancelar" (click)="onCancelarEdicao(produto)">Cancelar</button>
              } @else { 
                <button class="btn-editar" (click)="onEditar(produto)">Editar</button>
                <button class="btn-excluir" (click)="onExcluir(produto)">Excluir</button>
              }
          </td>
        </tr>
      }
      @empty {
        <tr>
          <td colspan="4">Nenhum produto encontrado.</td>
        </tr>
      }
    </tbody>
  </table>
}
